# 💻 Виртуальное окружение
venv/
bot-env/

# 🔐 Переменные окружения
.env

# 🧠 Кэш и временные файлы
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# 📦 Файлы сборки
build/
dist/
*.egg-info/

# 🧪 PyInstaller/py2exe
*.spec

# 💻 IDE-шные и редакторские настройки
.vscode/
.idea/
*.swp
*.swo

# 🧪 Тестовые данные
*.db
*.sqlite
*.pid
